body {
    background-color: #ffffff;
	margin:0;
	text-align: center;
}


nav ul {
	list-style-type: none;
	margin: 0;
	padding: 1em;
	overflow: hidden;
	background-color:#FDC59E;
  }
  
nav li {
	display: inline;
	margin: 0 1em;
  }

footer {
    background-color: #FDC59E;
    color: white;
	text-align: center;
	padding: 1em;
	margin-top: 20%;
}

.bio{

    background-color: #94D7E1;
	text-align: center;
	width: 30%;
   	height: 60%;
  	margin-left: 40%;
  	margin-top: 15%;
}

.city {
	flex-direction: column;
	justify-content: space-evenly;
	background-color: #94D7E1;
	display: flex;
	margin: 50 px;
}

.landmark {
	flex-direction: column;
	justify-content: space-evenly;
	background-color: #D4E3E3;
	display: flex;
	margin: 50 px;
}

.people {
	margin: 50 px;
	flex-direction: column;
	justify-content: space-evenly;
	display: flex;
	background-color: #FDC59E 
}
