h1 {
	font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ffffff;
	margin:0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 1em;
	overflow: hidden;
	background-color:#FDC59E;
  }
  
nav li {
	display: inline;
	margin: 0 1em;
  }

footer {
    background-color: #FDC59E;
    color: white;
	text-align: center;
	padding: 1em;
	margin-top: 20%;
}

.bio{

    background-color: #94D7E1;
	text-align: center;
	width: 20%;
  	height: 60%;
 	 margin-left: 40%;
  	margin-top: 10%;
}

/* EGYPT CODE */

.country_picture {
	height: auto;
	width: 50%;
}

.info_section {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
	margin-top: 50px;
}

.info_card {
	width: 30%;
	padding-bottom: 15px;
	list-style-type: none;
}

.info_city {
	background-color: #94D7E1;
}

.info_landmark {
	background-color: #D4E3E3;
}

.info_people {
	background-color: #ECD39F;
}

/* EGYPT CODE */

/* greece picture */

.greece_picture{
	height: 50%;
	width: 50%;
}

/* homepage picture */

.pictures{
height: 60%;
width: 60%;
margin-left: 20%;
margin-top: 5%;
}